[submodule "spring-introduction"]
	path = spring-introduction
	url = https://hyoguoo@github.com/hyoguoo/spring-introduction.git
[submodule "spring-core-basic"]
	path = spring-core-basic
	url = https://hyoguoo@github.com/hyoguoo/spring-core-basic.git
[submodule "spring-servlet"]
	path = spring-servlet
	url = https://hyoguoo@github.com/hyoguoo/spring-servlet.git
[submodule "spring-mvc"]
	path = spring-mvc
	url = https://hyoguoo@github.com/hyoguoo/spring-mvc.git
[submodule "item-service"]
	path = item-service
	url = https://hyoguoo@github.com/hyoguoo/item-service.git
[submodule "jpa-shop"]
	path = jpa-shop
	url = https://hyoguoo@github.com/hyoguoo/jpa-shop.git
