[submodule "spring-introduction"]
	path = spring-introduction
	url = https://hyoguoo@github.com/hyoguoo/spring-introduction.git
[submodule "spring-core-basic"]
	path = spring-core-basic
	url = https://hyoguoo@github.com/hyoguoo/spring-core-basic.git
[submodule "spring-servlet"]
	path = spring-servlet
	url = https://hyoguoo@github.com/hyoguoo/spring-servlet.git
[submodule "spring-mvc"]
	path = spring-mvc
	url = https://hyoguoo@github.com/hyoguoo/spring-mvc.git
